h1 h2 h3{
	font-family: 'Oswald', sans-serif;
}
p{
	font-family: 'Oswald', sans-serif;
}
nav{
	margin-bottom: 25px;
	top: 0;
}

.container-fluid .row{
	margin: 25px;
}
.header-block{
	margin: 25px;
}
.icon-block{
	padding: 10px;
	margin-bottom: 25px;
}
.icon-block p{
	color: #727272;
	font-size: 14px;
}
.person-info{
	padding: 10px;
	margin-bottom: 25px;
}
.person-info h5 {
	border-bottom: 1px solid #eeeeee;
	color: #727272;
	font-size: 14px;
	margin-bottom: 12px;
	padding-bottom: 12px;
}
.edu-info{
	padding: 10px;
	margin-bottom: 25px;
}
.edu-info table{
	color: #727272;
	font-size: 14px;
	margin-bottom: 12px;
}
.course-info{
	padding: 10px;
	margin-bottom: 25px;
}
.course-info table{
	color: #727272;
	font-size: 14px;
	margin-bottom: 12px;
}
.skill-block{
	padding: 10px;
	margin-bottom: 50px;
}
.skill-info{
	padding: 10px;
	margin-bottom: 50px;
}
.skill-info h5{
	font-size: 14px;
	color: #727272;
}
.footer li{
	display: inline;
}
